{% extends "base.html" %}
{% block content %}
  <div class="content">
    <div class="d-flex justify-content-end">
      <a class="btn btn-secondary" href="{{ url_for('createSensor') }}">Nové čidlo</a>
    </div>
    {% if title %}
      <h2 class="border-bottom mb-4">{{ title|safe }}</h2>
    {% else %}
      <h2 class="border-bottom mb-4">Čidla</h2>
    {% endif %}
    <div id="table-wrapper"></div>
  </div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
    const data_url = {{ url_data|tojson }}
  </script>
  <script src="{{ url_for('static', filename='grid_table.js') }}"></script>
{% endblock content %}